USE [INJECTION_DATABASE]
GO
/****** Object:  Table [dbo].[Injection]    Script Date: 10/26/2021 11:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Injection](
	[number] [smallint] NULL,
	[fullName] [nvarchar](255) NULL,
	[Dob] [date] NULL,
	[sex] [nvarchar](255) NULL,
	[objectCode] [smallint] NULL,
	[phone] [nvarchar](255) NULL,
	[license] [nvarchar](255) NOT NULL,
	[dateInjection] [date] NULL,
	[backgroundIllness] [nvarchar](255) NULL,
	[shitf] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[license] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Injection] ([number], [fullName], [Dob], [sex], [objectCode], [phone], [license], [dateInjection], [backgroundIllness], [shitf], [address]) VALUES (NULL, N'Nguyễn Xuân Quỳnh', CAST(N'1993-08-29' AS Date), N'Nữ', 13, N'0900093023', N'011932732', NULL, N'no', NULL, N'Tỉnh Đồng Tháp')
INSERT [dbo].[Injection] ([number], [fullName], [Dob], [sex], [objectCode], [phone], [license], [dateInjection], [backgroundIllness], [shitf], [address]) VALUES (NULL, N'Chu Bá Thông', CAST(N'1983-12-01' AS Date), N'Nam', 4, N'0900294323', N'020129432', NULL, N'no', NULL, N'Tỉnh Bình Định')
INSERT [dbo].[Injection] ([number], [fullName], [Dob], [sex], [objectCode], [phone], [license], [dateInjection], [backgroundIllness], [shitf], [address]) VALUES (NULL, N'Hồ Quỳnh Hương', CAST(N'1990-08-01' AS Date), N'Nữ', 4, N'0939431023', N'020143732', NULL, N'no', NULL, N'Tỉnh Bình Định')
GO
